<main>


  <section *ngIf="foodkart | async; let fkrt; else loading">

    <h1>{{fkrt.doc.get('name')}}</h1>


  </section>
  <div class="row">
    <div class="col-sm-8">
      <h4>Orders</h4>

      <div class="row">
        <div class="col-sm-6" *ngFor="let item of orders | async">
          <div class="card" style="width: 20rem;">
            <div class="card-block">
              <h4 class="card-title">
                {{item.doc.get("state") == 0 ? 'Order Received' : ""}}
                {{item.doc.get("state") == 1 ? 'Order Accepted' : ""}}
                {{item.doc.get("state") === 2 ? 'Order Finish' : ""}}
                {{item.doc.get("state") === 3 ? 'Order Complete' : ""}}

              </h4>
              <p class="card-text">Total: €{{(item.doc.get("total")/100).toFixed(2)}}</p>

              <ul>
                <li *ngFor="let product of item.doc.get('products')">
                  {{product}}
                </li>
              </ul>


              <button *ngIf="item.doc.get('state') == 0" (click)="acceptOrder(item)"
                      class="btn btn-primary">Accept Order
              </button>

              <button *ngIf="item.doc.get('state') == 1" (click)="finishOrder(item)"
                      class="btn btn-primary">Finish Order
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-sm-4">
      <section *ngIf="foodkart | async; let fkrt; else loading">

        <H2>Add Products</H2>
        <form class="login__form" [formGroup]="form" #formLogin="ngForm" (ngSubmit)="onSubmit(fkrt.id)">

          <div class="form-group">
            <label>Name</label>
            <input
              class="form-control" [formControl]="form.get('name')">
            <div *ngIf=""></div>
          </div>

          <div class="form-group">
            <label>Url logo</label>
            <input class="form-control" [formControl]="form.get('image')">
          </div>
          <div class="form-group">
            <label>Price</label>
            <input class="form-control" [formControl]="form.get('price')">
          </div>


          <input type="submit" value="Send"/>
        </form>
      </section>


      <div *ngFor="let item of products | async">
        <div class="card" style="width: 20rem;">
          <div class="card-block">
            <h4 class="card-title">
              {{item.doc.get("name")}}


            </h4>
            <p class="card-text">Price: €{{(item.doc.get("price")/100).toFixed(2)}}</p>

          </div>
        </div>
      </div>


    </div>

  </div>


  <ng-template #loading>&hellip;</ng-template>

</main>
