<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul *ngIf="user">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"
        (click)="auth.signOut()">
               {{ user.displayName }}
                <a class="nav-link">Logout</a>
      </li>
    </ul>

    <ul *ngIf="!user">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a routerLink="/" routerLinkActive="active">Auth</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
