<section *ngIf="foodkarts$ | async; let travels; else loading">

</section>


<div *ngIf="auth.user | async; then loggedin else displayLogin">

</div>
<ng-template #displayLogin>
  <button class="btn btn-primary" (click)="signInWithGoogle()">
    <i class="material-icons">assignment_ind</i> Connect with Google
  </button>
</ng-template>
