<main>
  <h1>Create Your Foodkart</h1>


  <form class="login__form" [formGroup]="form" #formLogin="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Name</label>
      <input
        class="form-control" [formControl]="form.get('name')">
      <div *ngIf=""></div>
    </div>

    <div class="form-group">
      <label>Url logo</label>
      <input class="form-control" [formControl]="form.get('logo')">
    </div>



    <input type="submit" value="Send" />
  </form>





  <ng-template #loading>&hellip;</ng-template>

</main>
